.DropDown {
  padding-right: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border-color: grey;
  width: max-content;

  @media (max-width: 810px) {
    margin-bottom: 10px;
  }
}
