.DropDownContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  align-items: center;
}
.HomeContainer {
  display: flex;
  flex-direction: column;
}
.HomeContainerTitle {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.QuizContainer {
  padding-left: 7%;
  padding-right: 7%;
}
.createQuiz {
  background-color: grey;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border-color: black;
  color: white;
  margin-right: 5px;
}
