.Header {
  width: "100%";
  height: 100%;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.icon {
  display: block;
  height: 5vh;
  margin-top: auto;
  margin-bottom: auto;
}

.Content {
  border-radius: 5cap;
  border-color: #001529;
  padding: 24px;
  border: solid;
  height: "100%";

  margin-top: 10px;
}
